.addEditPage-container {
  position: relative;
  z-index: 1;
  color: #fff;
}

.addEditPage-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://guidable.co/wp-content/uploads/2018/10/fake-plastic-food-1487542_1920.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.addEditForm-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

.addEditForm-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.addEditForm-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  text-align: left;
  color: #fff;
}

.addEditForm-group input[type="text"],
.addEditForm-group textarea,
.addEditForm-group input[type="date"],
.addEditForm-group select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
}

.addEditForm-group textarea {
  height: 80px;
  resize: vertical;
}

.addEditForm-group input[type="date"] {
  cursor: pointer;
}

.addEditError-message {
  color: red;
  font-size: 0.875em;
}

.addEditButton-group {
  text-align: center;
}

.addEditSave-button,
.addEditCancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.addEditSave-button {
  background-color: #28a745;
  color: white;
}

.addEditSave-button:hover {
  background-color: #218838;
}

.addEditCancel-button {
  background-color: #dc3545;
  color: white;
}

.addEditCancel-button:hover {
  background-color: #c82333;
}
