.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 1;
  color: #fff;
  min-height: 100vh;
}

.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://guidable.co/wp-content/uploads/2018/10/fake-plastic-food-1487542_1920.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  background-attachment: fixed;
}

.dashboard-header {
  display: flex;
  align-items: center;
}

.dashboard h2,
.dashboard p {
  text-align: left;
  margin: 0;
  padding: 10px;
  color: #fff;
}

.dashboardHeader-filter-spacing {
  margin-bottom: 20px;
}

.dashboardCategories-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboardCategories {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
  font-weight: bolder;
}

.dashboardCategories button.filter {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.dashboardCategories button.filter.selected {
  background-color: #007bff;
  color: #fff;
}

.dashboardCategories button.filter.selected:hover {
  background-color: #0056b3;
  color: #fff;
}

.dashboardCategories button.clear-filters {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.dashboardCategories button.clear-filters:hover {
  background-color: #c82333;
}

.dashboardCategories-search input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 30%;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.dashboardCategories-search input[type="text"]::placeholder {
  color: #ffffff;
}

.dashboardRecipe-list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboardRecipe-list-notFound {
  margin: 0;
  padding: 20px;
  color: #fff;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardRecipe-item {
  border: 1px solid #fff;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.dashboardRecipe-title {
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.dashboardRecipe-details {
  padding: 10px;
  border-top: 1px solid #fff;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardRecipe-details p {
  margin: 0;
}

.dashboardRecipe-details button {
  color: #000000;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
}

.dashboardRecipe-details button:hover {
  font-weight: bolder;
  background-color: #6c757d;
  text-decoration: underline;
  cursor: pointer;
}
