.loginContainer {
  position: relative;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://guidable.co/wp-content/uploads/2018/10/fake-plastic-food-1487542_1920.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.loginTitle {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #000;
}

.loginForm {
  max-width: 450px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  margin: 0;
}

.loginFormGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginFormGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  text-align: left;
  color: #fff;
  font-size: large;
}

.loginInput {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
}

.loginError {
  color: red;
  font-size: 0.875em;
}

.loginButton {
  width: 30%;
  height: 40px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 15px;
}

.loginButton:hover {
  background-color: #218838;
}
