.recipe-details-page {
  position: relative;
  z-index: 1;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.recipe-details-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://guidable.co/wp-content/uploads/2018/10/fake-plastic-food-1487542_1920.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.recipe-details {
  position: relative;
  z-index: 1;
  text-align: left;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.recipe-details-content {
  flex: 1;
  margin-bottom: 20px;
  color: #fff;
}

.recipe-details-content h2 {
  margin-top: 0;
  color: #fff;
  text-align: left;
}

.recipe-details-content p {
  margin: 10px 0;
  color: #fff;
}

.recipe-details-content .category {
  font-weight: bold;
}

.recipe-details-content .category-data {
  font-weight: normal;
}

.recipe-details-content .ingredients-label,
.recipe-details-content .instructions-label {
  font-weight: bold;
}

.ingredients, .instructions {
  margin-bottom: 5px;
}

.ingredients ul, .instructions ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
}

.recipe-details-content .date {
  padding-top: 10px;
  font-weight: bold;
}

.recipe-details-content .date-data {
  font-weight: normal;
}

.recipe-details-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.back-button {
  background-color: #6c757d;
}

.back-button:hover {
  background-color: #5e666c;
}

.button-group {
  display: flex;
  gap: 10px;
}

.edit-button {
  background-color: #28a745;
}

.edit-button:hover {
  background-color: #218838;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.recipe-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}
